/* .grayscale {
   filter: grayscale(100%);
   transition: 1s;
}
.grayscale:hover {
filter: grayscale(0);
} */

* {
   margin: 0;
   padding: 0;
}
.container {
   width: 100%;
   max-width: 1024px; /*максимальная ширина может иметь другое значение*/
   padding: 0 15px;
   margin: 0 auto;
}
.pictures {
   background-color: rgb(198, 158, 236);
   background: #ffc4c4; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(135deg, #ffc4c4 0%,#90bcea 23%,#90bae4 42%,#90bff0 57%,#a2daf5 79%,#a282bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc4c4', endColorstr='#a282bf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   padding: 72px 0;
}
.header__title {
   font-family: 'Lobster', cursive;
   font-size: 65px;
   margin-left: 5%;
   color: rgb(18, 5, 65);
   margin-bottom: 0;
}
.header__title2 {
   font-family: 'Lobster', cursive;
   font-size: 65px;
   text-align: center;
   color: rgb(18, 5, 65);
   padding: 10px;
   margin-bottom: 0;
}
.header__title3 {
   font-family: 'Lobster', cursive;
   font-size: 65px;
   margin-right: 5%;
   text-align: right;
   color: rgb(18, 5, 65);
   margin-bottom: 30px;
}
.header__subscribe {
   font-family: 'Lora', serif;
   font-size: 40px;
   font-weight: 400;
   text-align: center;
   color: rgb(255, 255, 255);
   margin-bottom: 30px;
}
.grayscale {
   margin: 0 auto;
   display: block;
   margin-bottom: 50px;
   max-width: 1024px;
   width: 100%;
   -o-object-fit: cover;
      object-fit: cover;
   overflow: hidden;
   -webkit-filter: grayscale(1);
           filter: grayscale(1);
   transition: 3s;
}
.grayscale.colour {
   -webkit-filter: none;
           filter: none;
}
@media (max-width:768px) {
   .header__title, .header__title2, .header__title3 {
      font-size: 40px;
   }
   .header__subscribe {
      font-size: 27px;
   }
}
@media (max-width:465px) {
   .pictures {
      padding: 40px 0;
   }
   .header__title, .header__title2, .header__title3 {
      font-size: 40px;
   }
   .header__subscribe {
      font-size: 18px;
   }
}