@charset "UTF-8";
/* образец пути картинки
background: url("../img/cover.jpg") 0 0 no-repeat;
вставка цвета
background-color: var(--color-bg1);
color: var(--color1);
*/
:root {
  --color1: #ffffff;
  /* главный цвет */
  --color2: #ffc400;
  /* второй цвет */
  --color3: #283039;
  /* третий цвет */
  --color4: #000000;
  --color-bg1: #ffffff;
  /* фон первый цвет */
  --color-bg2: #000000;
  /* фон второй цвет */
}

@font-face {
  font-family: icomoon;
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: PTSerif;
  font-display: swap;
  src: url("../fonts/PTSerif-Bold.woff2") format("woff2"), url("../fonts/PTSerif-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location2:before {
  content: "\e90a";
}

.icon-comment-alt2-stroke:before {
  content: "\e903";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-whatsapp1:before {
  content: "\ea93";
}

.icon-twitter1:before {
  content: "\ea96";
}

.icon-github:before {
  content: "\eab0";
}

.icon-skype1:before {
  content: "\eac5";
}

.icon-location1:before {
  content: "\e904";
}

.icon-mail:before {
  content: "\e901";
}

.icon-envelope1:before {
  content: "\e905";
}

.icon-instagram1:before {
  content: "\e902";
}

.icon-phone_in_talk:before {
  content: "\e907";
}

.icon-share:before {
  content: "\e900";
}

.icon-perm_phone_msg:before {
  content: "\e908";
}

.icon-phone1:before {
  content: "\e90c";
}

.icon-phone-call:before {
  content: "\e90d";
}

.icon-share-2:before {
  content: "\e906";
}

.icon-youtube1:before {
  content: "\e909";
}

.icon-phone:before {
  content: "\f095";
}

.icon-phone-square:before {
  content: "\f098";
}

.icon-youtube:before {
  content: "\f167";
}

.icon-youtube-play:before {
  content: "\f16a";
}

.icon-dribbble:before {
  content: "\f17d";
}

.icon-vk:before {
  content: "\f189";
}

.icon-behance:before {
  content: "\f1b4";
}

.icon-paper-plane:before {
  content: "\f1d8";
}

.icon-send:before {
  content: "\f1d8";
}

.icon-paper-plane-o:before {
  content: "\f1d9";
}

.icon-send-o:before {
  content: "\f1d9";
}

.icon-pinterest-p:before {
  content: "\f231";
}

.icon-odnoklassniki:before {
  content: "\f263";
}

.icon-map-o:before {
  content: "\f278";
}

.icon-map:before {
  content: "\f279";
}

.icon-volume-control-phone:before {
  content: "\f2a0";
}

/* образец пути картинки
background: url("@img/cover.jpg") 0 0 no-repeat;
вставка цвета
background-color: var(--color-bg1);
*/
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-body {
  position: relative;
  /* z-index: 1; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg2);
  opacity: 0.9;
  z-index: 2;
}

.logo {
  position: relative;
  flex: 0 0 109px;
  overflow: hidden;
  z-index: 5;
  fill: #fff;
  margin-right: auto;
}

.logo img {
  max-width: 100%;
  display: block;
}

.main-menu {
  position: relative;
  display: flex;
  z-index: 2;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu li {
  list-style: none;
  cursor: pointer;
}

.main-menu li a, .main-menu li a:visited {
  color: var(--color1);
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  margin: 28px 16px;
  position: relative;
}

.main-menu li a:hover {
  /* background: #c56a6a; */
  color: var(--color2);
}

.main-menu li a:after {
  background-color: var(--color2);
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.main-menu li a:hover:after,
.main-menu li a:focus:after {
  width: 100%;
}

.main-menu a.shine {
  color: var(--color2);
}

.main-menu li.current a {
  color: var(--color2);
}

.main-menu li.current a:after {
  background-color: var(--color2);
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
}

.nav-burger {
  display: none;
}

@media (max-width: 767px) {
  .nav-body {
    height: 50px;
  }

  .nav-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .nav-burger span {
    position: absolute;
    background-color: var(--color1);
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .nav-burger:before {
    content: "";
    position: absolute;
    background-color: var(--color1);
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    transition: all 0.3s ease 0s;
  }

  .nav-burger:after {
    content: "";
    position: absolute;
    background-color: var(--color1);
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease 0s;
  }

  .main-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg2);
    padding: 70px 10px 20px 0;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .logo {
    flex: 0 0 90px;
  }

  .main-menu {
    display: block;
  }

  .main-menu li {
    margin: 0 0 20px 0;
  }

  .main-menu li a:hover {
    color: var(--color3);
  }

  .nav-burger.is-open:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .nav-burger.is-open:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .nav-burger.is-open span {
    transform: scale(0);
  }

  .main-menu.is-open {
    top: 0;
  }

  body.lock {
    overflow: hidden;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
  }
}
body.noscroll {
  overflow-y: hidden !important;
}

.mfp-bg {
  background: #0b0b0b;
  opacity: 0.9;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.text-popup {
  color: #004141;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.swiper {
  width: 600px;
  height: 300px;
}

.home-page {
  max-height: 100%;
  width: 100%;
  position: relative;
  padding-top: 126px;
  padding-bottom: 100px;
  background: url("../img/bg1.jpg") no-repeat center right;
  background-size: cover;
}
.home-page:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  background: linear-gradient(104deg, rgba(0, 0, 0, 0.9) 0%, rgba(29, 31, 32, 0.9) 42%, rgba(56, 59, 61, 0.9) 65%, rgba(111, 113, 115, 0.85) 100%);
}
.home-page:after {
  content: "";
  background: url("../img/arrow-down.png") no-repeat center right;
  display: block;
  width: 56px;
  height: 31px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.text-wrapper {
  position: relative;
}

.home-title {
  font-size: 54px;
  font-family: "PT Serif", serif;
  color: var(--color2);
  font-weight: 700;
  font-size: calc(40px + 14 * ((100vw - 320px) / 880));
  width: 100%;
  margin-bottom: 40px;
  line-height: 0.9;
}

.home-descr {
  font-size: 20px;
  color: var(--color1);
  font-weight: 400;
  font-size: calc(17px + 3 * ((100vw - 320px) / 880));
  width: 100%;
  max-width: 600px;
}

.home-descr__top {
  margin-bottom: 20px;
}

.home-work {
  font-size: 14px;
  color: var(--color1);
  font-weight: 400;
  text-align: right;
  margin-bottom: 33px;
}

@media (max-width: 540px) {
  .home-page {
    padding-top: 94px;
  }

  .home-title {
    text-align: center;
  }

  .home-descr {
    text-align: center;
  }

  .button {
    text-align: center;
  }
}
.prefer-page {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 80px;
  background: url("../img/bg-apple.png") no-repeat center center;
  position: relative;
}
.prefer-page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 23px;
  font-size: calc(18px + 5 * ((100vw - 320px) / 880));
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  width: 560px;
  max-width: 100%;
}

.title {
  font-size: 40px;
  font-family: "PT Serif", serif;
  font-size: calc(30px + 10 * ((100vw - 320px) / 880));
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 36px;
}

.prefer-well__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 38px;
}

.sub-subtitle {
  font-size: 22px;
  font-size: calc(18px + 4 * ((100vw - 320px) / 880));
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 36px;
  max-width: 100%;
}

.prefer__block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 22px 10px 22px 40px;
  background-color: aqua;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
  border: none;
  background-color: var(--color3);
}

.prefer__text {
  font-size: 18px;
  font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  font-weight: 400;
  line-height: 1.4;
  color: var(--color1);
}

.prefer__list {
  column-count: 2;
  column-gap: 102px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
}
.prefer__list li {
  list-style: inherit;
  list-style-type: square;
}

.prefer__number {
  margin-right: 40px;
  color: var(--color1);
  font-size: 30px;
  font-size: calc(22px + 8 * ((100vw - 320px) / 880));
  font-weight: 700;
  line-height: 1.2;
  font-family: "PT Serif";
}

.prefer-text__wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: -10px;
  align-items: stretch;
}

.prefer-text__block {
  width: 48%;
  padding: 20px 20px 20px 20px;
  margin: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  box-shadow: 2px 1px 10px #edecec;
}
.prefer-text__block img {
  margin-right: 12px;
  width: 28px;
  height: auto;
  margin-top: 4px;
}
.prefer-text__block p {
  font-size: 19px;
  font-size: calc(17px + 2 * ((100vw - 320px) / 880));
  font-weight: 400;
  line-height: 1.3;
}

.line {
  margin: 0 auto;
  background-color: var(--color2);
  width: 168px;
  height: 3px;
  display: block;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 36px;
  text-align: center;
}

@media (max-width: 1010px) {
  .prefer-text__block {
    max-width: 47%;
  }
}
@media (max-width: 939px) {
  .prefer__list {
    column-gap: 32px;
  }

  .prefer__block {
    padding: 22px 10px 22px 22px;
  }

  .prefer__number {
    margin-right: 26px;
  }
}
@media (max-width: 695px) {
  .prefer__list {
    column-count: 1;
  }

  .prefer-text__block {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 492px) {
  .prefer__block {
    flex-direction: column;
  }

  .prefer__number {
    margin-right: 0;
  }

  .prefer-text__block img {
    width: 24px;
  }
}
.portfolio-page {
  background-color: var(--color3);
  padding: 80px 0;
}

.title.title-white {
  color: var(--color1);
}

.portfolio-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin: -10px;
}

.portfolio-link {
  text-decoration: none;
  color: #000;
}

.portfolio-card {
  margin: 10px;
  width: 22%;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
}

.portfolio-image {
  width: 100%;
  max-height: 240px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.portfolio-image img {
  object-fit: contain;
  object-position: center center;
  max-width: 100%;
  transition: all ease 0.7s;
}
.portfolio-image img:hover {
  transform: scale(1.2);
  transition: all ease 0.7s;
}

.portfolio-text {
  padding: 20px 0;
  background-color: var(--color1);
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .portfolio-card {
    width: 33%;
    max-width: calc(33% - 20px);
  }
}
@media (max-width: 560px) {
  .portfolio-card {
    width: 49%;
    max-width: calc(49% - 20px);
  }
}
@media (max-width: 430px) {
  .portfolio-card {
    width: 100%;
    max-width: calc(100% - 20px);
  }
}
.steps-page {
  background: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.steps-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -10px;
}

.steps-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  margin: 10px;
  height: 278px;
}

.steps-block__text {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 20px;
}

.image-wrapper {
  width: 100px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-block__image {
  flex-grow: 0;
}

.image-wrapper img {
  width: auto;
  height: 78px;
}

@media (max-width: 554px) {
  .steps-wrapper {
    flex-direction: column;
  }

  .steps-block {
    width: 100%;
    flex-direction: row;
    height: 122px;
  }

  .steps-block__text {
    margin-top: 0;
  }

  .arrow {
    display: none;
  }

  .steps-block__text {
    text-align: left;
    margin-left: 20px;
  }
}
.contact-page {
  max-height: 100%;
  width: 100%;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background: url("../img/bg2.jpg") no-repeat center right;
  background-size: cover;
}

.footer {
  background-color: #000;
  padding: 20px 0;
  color: #fff;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-footer {
  width: 100px;
}

.footer-block {
  font-size: 14px;
  color: #bebebe;
}

.contact-subtitle {
  display: block;
  text-align: center;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--color2);
}

.contact-subtitle.title-white {
  color: var(--color1);
  font-size: 20px;
}

.contact-wrapper {
  margin-top: 40px;
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-block__item {
  color: var(--color1);
  width: 43%;
  font-size: 20px;
  font-size: calc(17px + 3 * ((100vw - 320px) / 880));
  line-height: 1.2;
  font-weight: 400;
}
.contact-block__item a {
  font-size: 20px;
  font-size: calc(17px + 3 * ((100vw - 320px) / 880));
  line-height: 1.2;
  font-weight: 400;
  color: var(--color1);
  text-decoration: none;
}
.contact-block__item a:hover {
  color: var(--color2);
  text-decoration: underline;
}

.contact-block__item.yellow {
  color: var(--color2);
}

.contact-block__item.left {
  margin-right: auto;
}

.contact-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 26px;
}
.contact-block__last {
  margin-bottom: 0;
}

.contact-block__box {
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
}
.contact-block__box ul {
  column-count: 2;
  column-gap: 60px;
}
.contact-block__box ul li {
  padding: 6px 0;
}
.contact-block__box ul li a {
  font-size: 20px;
  font-size: calc(17px + 3 * ((100vw - 320px) / 880));
  line-height: 1.2;
  font-weight: 400;
  color: var(--color1);
}
.contact-block__box ul li a:hover {
  color: var(--color2);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contact-wrapper {
    padding: 30px;
  }

  .contact-block__box ul {
    column-count: 1;
    margin-top: -5px;
  }
}
@media (max-width: 492px) {
  .contact-block {
    flex-direction: column;
  }

  .contact-block__box {
    width: 66%;
    display: flex;
    align-items: flex-start;
    margin-left: 0px;
    margin-top: 12px;
  }

  .contact-block__item {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html, body {
  height: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--color4);
  background-color: var(--color-bg1);
}

body {
  overflow-x: hidden;
}

svg path {
  fill: inherit;
  stroke: inherit;
}

.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* .visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
/*clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
} */
@media (max-width: 767px) {
  .content-text {
    margin: 80px 0 0px 0;
  }
}
.contact-block__social {
  background-color: #fffef8;
  height: 70px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.icon-global {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
}
.icon-global:before {
  color: var(--color1);
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.icon-global:hover:before {
  color: var(--color2);
}

.socials {
  position: relative;
  z-index: 2;
  margin-left: 10px;
}

.social__items {
  display: flex;
}

.social__item {
  position: relative;
}

.button {
  position: relative;
  display: block;
  margin-top: 55px;
  margin-bottom: 20px;
}
.button a {
  transition: all 0.5s;
  border: 2px solid var(--color2);
  text-transform: uppercase;
  padding: 16px 40px;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  color: var(--color2);
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
}
.button a:hover {
  color: var(--color4);
  background-color: var(--color2);
  border: 2px solid var(--color2);
  transition: all 0.5s;
}

.button-center {
  text-align: center;
  margin: 0 auto;
}

.scrollup {
  position: fixed;
  bottom: 30px;
  right: 25px;
  display: none;
  z-index: 22;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transform: rotate(-90deg);
  transition: 0.17s linear all;
  border-radius: 50%;
  background: var(--color2);
  outline: 1px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 8px;
}
.scrollup:hover {
  outline: 1px;
  border: 1px solid var(--color4);
}
.scrollup:hover svg {
  fill: var(--color4);
}

@media (max-width: 767px) {
  .socials {
    display: none;
  }
}