@charset "UTF-8";
/* === медиа запросы === */
@media (max-width: 702px) {
  .header-page__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .block {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    width: 100%;
  }
  .block__img-wrap {
    max-width: inherit;
  }
  .header__text {
    width: 90%;
  }
  .header__title {
    font-size: 58px;
    width: 240px;
    margin: 0 auto;
    line-height: 1;
    margin-bottom: 35px;
  }
  .header__pretitle {
    margin-top: 37px;
    margin-bottom: 28px;
  }
}
